body {
    color: white;
    font-family: 'Kanit', sans-serif;
    background: black;
    opacity: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 300px;
    height: 100vh;
    z-index: 1;
}

#demo {
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 410px;
    border: 1px solid #333;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/space-background.png);
    z-index: 2;
}

#title {
    position: absolute;
    top: 120px;
    left: 40px;
    font-size: 70px;
    z-index: 4;
}

#freds {
    position: absolute;
    top: 250px;
    left: 20px;
}

#freds img {
    width: 125px;
}

#time {
    position: absolute;
    top: 25px;
    right: 0;
}

#wrapper {
    visibility: hidden;
    width: 800px;
    height: 450px;
    text-align: center;
}

#nav {
    position: relative;
    margin-top: 20px;
    z-index: 10;
}

button {
    border-radius: 10px;
    background: #fc3;
    color: #06c;
    font-size: 14px;
    padding: 10px;
    border: none;
    font-weight: bold;
}

button:focus {
    outline: none;
    background-color: white;
}

@media (max-width: 800px) {
    #freds img {
        width: 70px;
    }
    #title {
        width: 85%;
    }
}